.sidenav-container {
  height: 100%;
  background-color: white;
}

.mat-sidenav-content {
  overflow-x: hidden;
}

.mat-expansion-panel {
  mat-expansion-panel-header {
    a:active,
    a:focus {
      color: #e6a20e;
      border-left: 2px solid #e6a20e;
      background-color: #9c9c9c12;
    }
  }

  background-color: #140e00 !important;

  a.sub-menu {
    border-left: 2px solid #929292;

    &:focus,
    &:hover {
      border-left: 2px solid #e6a20e;
      color: #e6a20e !important;
    }
  }
}

.sidenav {
  width: 240px;
  background-color: #140e00;

  mat-nav-list {
    overflow: hidden;
    margin-top: 80px;

    a {
      color: #929292;

      &.active {
        color: #e6a20e;
        border-left: 4px solid #e6a20e;
        background-color: #9c9c9c12;
      }

      mat-icon {
        padding-right: 0.5rem;
      }
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;

  img {
    margin-left: 20px;
    margin-top: 80px;
  }
}

.mat-toolbar.mat-primary {
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
  color: #140e00;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
  font-size: 24px;
  font-family: "Lato";
  font-weight: 700;

  span.logo-title {
    padding-right: 16px;
  }

  p.name {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
    color: #140e00;
    margin-bottom: 0;
  }

  mat-icon.notification {
    color: #929292;
    padding: 0 16px;
  }
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: #140e00 !important;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 !important;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

span.mat-expansion-indicator {
  display: none !important;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}
