<mat-card>
  <div class="product-information">
    <h1>Product Informations</h1>

    <div>
      <b>Product Name: </b>
      <h2>{{ product.name }}</h2>
    </div>

    <div>
      <b>slug: </b>
      <p>{{ product.slug }}</p>
    </div>

    <div>
      <b>Description:</b>
      <p>{{ product.description }}</p>
    </div>

    <!-- <div>
      <b>Category: </b>
      <p>{{ product?.category }}</p>
    </div> -->

    <div>
      <b>Price:</b>
      <p>{{ product.price }}</p>
    </div>

    <div>
      <b>Stock:</b>
      <p>{{ product.quantity }}</p>
    </div>
  </div>
</mat-card>
