<mat-card>
  <div class="table-header">
    <h3>
      Categoires
      <!-- <small>
        <a href="javascript:void(0)" (click)="add()">Add</a> |
        <a href="javascript:void(0)" (click)="update()">Update</a> |
        <a href="javascript:void(0)" (click)="remove()">Remove</a>
      </small> -->
      <input
        class="search"
        mat-input
        ype="text"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      />
      <div>
        <mat-icon>filter_list</mat-icon>
        <mat-icon>more_vert</mat-icon>
      </div>
    </h3>
  </div>

  <div>
    <ngx-datatable
      #table
      class="material"
      [rows]="categories"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      [scrollbarH]="true"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <input
            type="checkbox"
            [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"
          />
        </ng-template>
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <input
            type="checkbox"
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Description"></ngx-datatable-column>
      <ngx-datatable-column name="Slug"></ngx-datatable-column>

      <ngx-datatable-column name="Actions" [sortable]="false" prop="id">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon style="color: #b1b1b1">more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button style="color: rgba(61, 113, 255, 0.685)" mat-menu-item>
              <mat-icon style="color: rgba(61, 113, 255, 0.685)"
                >visibility</mat-icon
              >
              <span>View</span>
            </button>
            <button
              (click)="confirmBox()"
              style="color: rgba(255, 61, 61, 0.685)"
              mat-menu-item
            >
              <mat-icon style="color: rgba(255, 61, 61, 0.685)"
                >delete_outline</mat-icon
              >
              <span>Delete</span>
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</mat-card>
