<mat-card>
  <div class="table-header">
    <h3>
      Orders
      <input
        class="search"
        mat-input
        ype="text"
        placeholder="Type to filter the customer column..."
        (keyup)="updateFilter($event)"
      />
      <div>
        <mat-icon>filter_list</mat-icon>
        <mat-icon>more_vert</mat-icon>
      </div>
    </h3>
  </div>

  <div>
    <ngx-datatable
      #table
      class="material"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      [scrollbarH]="true"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <input
            type="checkbox"
            [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"
          />
        </ng-template>
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <input
            type="checkbox"
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ID"></ngx-datatable-column>
      <ngx-datatable-column name="Date"></ngx-datatable-column>
      <ngx-datatable-column name="Customers"></ngx-datatable-column>
      <ngx-datatable-column name="Items"></ngx-datatable-column>
      <ngx-datatable-column name="Status"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</mat-card>
