<mat-card>
  <div class="table-header">
    <h3>
      Orders
      <input
        class="search"
        mat-input
        ype="text"
        placeholder="Type to filter the customer column..."
        ((keyup))="updateFilter($event)"
      />
      <div class="options">
        <mat-icon>more_vert</mat-icon>
      </div>
    </h3>
  </div>

  <div>
    <ngx-datatable
      #table
      class="material"
      [rows]="_orders"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="8"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      [scrollbarH]="true"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <input
            type="checkbox"
            [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"
          />
        </ng-template>
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
        >
          <input
            type="checkbox"
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Number"></ngx-datatable-column>
      <ngx-datatable-column name="Customer"></ngx-datatable-column>
      <ngx-datatable-column name="Price"></ngx-datatable-column>
      <ngx-datatable-column name="Items"></ngx-datatable-column>
      <ngx-datatable-column name="Payment"></ngx-datatable-column>
      <ngx-datatable-column name="Status"></ngx-datatable-column>
      <ngx-datatable-column name="Actions" [sortable]="false" prop="id">
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon style="color: #b1b1b1">more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button (click)="goToOrderDetails()" mat-menu-item>
              View Order
            </button>
            <button (click)="confirmOrder()" mat-menu-item>
              Confirm Order
            </button>
            <button (click)="cancelOrder()" mat-menu-item>Cancel Order</button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</mat-card>
