@import "samson-material-theme";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import url("../src/app/protected/order/components/order/components/order-list/order-list.component.scss");
@import url("../src/app/protected/product/components/product/components/product-list/product-list.component.scss");
// @import url("../src/app/shared/components/sidebar/sidebar.component.scss");
/* You can add global
 styles to this file, and also import other style files */
html,
body {
  height: 100%;
  // background-color: rgb(255, 252, 243);
}

body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif !important;
}

/* For dataTable status cell*/

span[title="Pending"] {
  padding: 10px 15px;
  background: rgba(255, 230, 0, 0.22);
  border-radius: 20.7887px;
  color: #8f6201;
}

span[title="Completed"] {
  padding: 10px 15px;
  background: rgba(62, 244, 153, 0.15);
  border-radius: 20.7887px;
  color: #004924;
}

span[title="Canceled"] {
  padding: 10px 15px;
  background: rgba(236, 20, 20, 0.1);
  border-radius: 20.7887px;
  color: #860000;
}

/* For dataTable status cell*/

svg.apexcharts-svg {
  overflow: unset !important;
}

mat-form-field:focus {
  border: 1px solid #e6a20e;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #e6a20e !important;
}

input[name="price"] {
  transform: translateY(2.5px);
}

div.mat-horizontal-stepper-header-container {
  padding-bottom: 30px !important;
}

.mat-horizontal-content-container {
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
